
<label for="amount" class="px-4 py-2 mb-2 text-sm font-medium text-black-700 dark:text-white-500">Amount</label>
<div class="px-4 py-2 flex">  
    <div class="flex-shrink-0 z-10 inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-sm hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white ">&euro;</div>
        <div class="relative w-full">
            <input type="search" [formControl]="amount" id="amount" class="block p-2 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-sm border-l-gray-50 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="specify the amount">
        </div>
</div>
<div class="pl-4" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
    <div class="text-xs text-red-600 dark:text-red-500 font-medium" *ngIf="amount.hasError('required')">This field is required.</div>
    <div class="text-xs text-red-600 dark:text-red-500 font-medium" *ngIf="amount.hasError('pattern')">Text not allowed</div>
    <div class="text-xs text-red-600 dark:text-red-500 font-medium" *ngIf="amount.hasError('min')">Amount cannot be below -€500.</div>
</div>
